.product-items .card{
    color:black;
    margin: 25px auto;
    width: 18rem;
    height: 400px;
    padding: 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.card:hover{
    box-shadow: 0px 0px 20px lightgray;
    opacity:0.9;
}

.product-items .card-image-top{
    height:220px;
    padding: 20px 40px;
}