.Header
{
    display: flex;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 3px -2px lightgray;
}
.navbar
{
    padding:0px;
}
.navRight
{
    margin-right: 10px;
}
.Header img
{
    height:70px;
    width:260px;  
    padding-bottom: 7px;
    padding-left:60px;  
}
.Header button, a
{
    margin:10px 5px;

}
.Header a
{
    color:black;
}
.Header button
{
    width:90px;
    border-radius: 20px;
}
.Header button:hover, a:hover
{
    opacity:0.7;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }